body {
  color: #444;
}

p {
  color: #7C7C7C;
}

.header {
  background-image: linear-gradient(-180deg, #F6F6F6 0%, #F5F6F6 100%);
  border-bottom: 1px solid #DFDEDE;
}

.content {
  background-image: linear-gradient(-180deg, #F0F0F0 0%, #EEF0EF 100%);
}

.btn-plain {
  /* background-image: linear-gradient(-180deg, #E2E2E2 0%, #DCDCDC 99%); */
  background-color: #FFF;
  border-top: 1px solid #D9D9D9;
  border-left: 1px solid #D6D5D5;
  border-right: 1px solid #D6D5D5;
  border-bottom: 1px solid #C2C1C1;
  color: #262626;
}

.btn-iconified {
  background: #F4F4F4;
  border: 1px solid #979797;
  color: #222;
}

.disabled {
  border-top: 1px solid #E4E3E3;
  border-left: 1px solid #E2E1E1;
  border-right: 1px solid #E2E1E1;
  border-bottom: 1px solid #D9D8D8;
  background-color: #F7F7F7;
  color: #BDBDBD;
}

.disabled > img {
  opacity: 0.25;
}

.btn-iconified.active {
  border: 1px #FB9F27 solid;
  background: rgba(255, 201, 67, 0.98);
}

.icon-caseSensitive, .icon-wholeWord {
  border: 1px solid #FFF;
  color: #C2C1C1;
}

.icon-caseSensitive.active, .icon-wholeWord.active {
  border: 1px solid #FB9F27;
  color: #262626;
}
